/node_modules
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
/storage/framework
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
cron-log.txt
worker.log
/.idea
/.vscode
public/js/app.js
public/js/app.js
