@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&family=Inter:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'Barlow', sans-serif;
}

.side-active{
    background-color: #4B49AC;
    border-radius: 8px;
    color: #fff;
}

.side-active >  .nav-link i ,
.side-active > .nav-link .menu-title ,
.side-active > .nav-link .menu-arrow{
    color: #fff !important;
}

.side-active > .nav-link .menu-title ,
.side-active > .nav-link i{
    color: #ffffff !important;
}

.content-wrapper{
    padding: 20px !important;
}

.card{
    border-radius: 5px !important;
}

/*------------------- Datatable -----------------*/
thead th{
    padding: 17px 10px !important;
    font-size: 14px !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 25px 10px !important;
    font-size: 13px !important;
}

 .dataTables_wrapper select{
    height: 30px !important;
 }

#datatable_filter {
    display: none !important;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 20px !important;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 5px !important;
    margin-bottom: 25px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 8px 15px !important;
}

a{
    text-decoration: none !important;
}

.dataTables_length{
    position: absolute !important;
    bottom: 0px !important;
    left: 5px !important;
    z-index: 9999 !important;
}

.dataTables_length label{
    font-size: 12px !important;
}

.dataTables_wrapper .dataTables_length select {
    min-width: 39px !important;
    margin-left: 0px !important;
}

.dataTables_info{
position: absolute;
left: 30%;
clear: none !important;
float: none !important;
font-size: 14px !important;
}

#datatable_previous{
    font-size: 14px !important;
}

#datatable_next{
    font-size: 14px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 6px 13px !important;
}

.action-icon{
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: black;
}

.action-icon:hover{
    color: black;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.158);
}
 
button.dropdown-toggle{
    border: none !important;
    background-color: transparent !important;
}

.dropstart .dropdown-toggle::after{
    display: none !important;
}

.dropdown-menu {
    padding: 10px 0px !important;
    border-radius: 5px;
    z-index: inherit;
    border: none !important;
    margin-top: 10px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.315);
}

.dropdown-item{
    padding: 3px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-item i{
    padding: 3px;
    font-size: 22px;
}

.dropdown-item p{
    font-size: 14px;
    margin-bottom: 0px !important;
    margin-left: 17px;
    margin-right: 100px;
}

.bi-share,.bi-download,.bi-trash{
    font-size: 18px !important;
}
/*------------------- Select2 -----------------*/

.filepond--credits{
    display: none !important;
}

.swal2-modal {
    min-height: 0px !important;
    border-radius: 0px !important;
}

.swal2-input{
    width: 80% !important;
    box-shadow: none !important;
}

#swal2-html-container .swal2-input{
    border: 1px solid crimson !important;
}
.swal2-validation-message{
    color: crimson !important;
}

#swal2-html-container .swal2-input:focus{
    border: 1px solid blue !important;
}

div:where(.swal2-container) .swal2-html-container {
    font-size: 15px !important;
    text-align: left !important;
}

.swal2-modal .swal2-title {
    font-size: 20px !important;
    /* line-height: 1;
    font-weight: 600;
    color: #1F1F1F;
    font-weight: initial;
    margin-bottom: 0; */
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
    border: 0;
    border-radius: 15px !important;
    background: initial;
    background-color: #1568b1 !important;
    color: #fff;
    font-size: 14px !important;
    font-weight: normal !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel:focus{
box-shadow: none !important;
outline: none !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
    border-radius: 15px !important;
    background-color: transparent !important;
    color: crimson !important;
    font-size: 14px !important;
    font-weight: normal !important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:hover{
background-color: crimson !important;
color: white !important;
}

.table td img{
    width: 19px !important;
    height: auto !important;
    border-radius: 0px !important;
}

.breadcrumb{
    border: none !important;
}

.breadcrumb .breadcrumb-item {
    font-size: 18px !important;
}

.swal-text:first-child{
    margin-top: 30px !important;
}

.swal-modal {
    width: 240px !important;
    height: 80px !important;
}


element.style {
    display: flex;
}
div:where(.swal2-icon).swal2-warning.swal2-icon-show {
    /* animation: swal2-animate-error-icon .5s; */
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.breadcrumb-item{
    color: #1568b1 !important;
    text-decoration: underline;
}